<h1>{{message}}</h1>

<h2>{{title}}</h2>

<h3>{{comment}}</h3>

<p>by {{author}}</p>

<h4>To see your comment displayed alongside the scraped articles, go to the following link</h4>

<p>
    <a href="/articles">
        New York Times articles
    </a>
</p>