<h1>{{message}}</h1>

<h2>{{error}}</h2>

<h3>To see all articles scraped from the New York Times website, go to the following lnk</h3>

<p>
    <a href="/articles">New York Times articles</a>
</p>

<h3>To revisit articles you have saved, go to the following lnk</h3>

<p>
    <a href="/articles/save">Saved articles</a>
</p>