<h1>Articles</h1>

<ol>
    {{#each articles}}
    <li>
        {{this.title}} {{this._id}}
    </li>
    <p>
        {{this.summary}}
    </p>
    <a href="/articles/save/{{this._id}}">
        Save this article
    </a>
    {{/each}}
</ol>
